
body{

background:pink	;

            
  
}
.container{
    background-color: pink;
;
}

#yourNameGroup{
    background-color: pink ;
;
}
.form-control{
    background-color: white;
}

.btn-primary{
    color: #fff;
    background-color: orange;
    border-color: #008b8b;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}
.btn-link{
    color: green;
}